* {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

.container {
  width: 90% !important;
}

h3 {
  font-weight: 500;
  font-size: 2.5rem;
}

h4 {
  font-weight: 500;
  font-size: 2rem;
  padding: 0 20px;
}

/* Fixed Navigation desktop area Area Starts Here  */
.brand-logo {
  font-size: 1.8rem !important;
  margin: 0px 60px;
}

.navbar ul {
  margin-left: 70px;
  font-size: 0.9rem !important;
}

.navbar ul a {
  padding: 12px 12px;
  display: initial;
}

.navbar a:hover {
  background-color: #333333;
  border-radius: 20px;
}

.navbar i {
  margin: 0px 10px !important;
  font-size: 18px !important;
  line-height: 65px !important;
}

.signup {
  background-color: #fcfafa;
  border-radius: 20px;
}

.signup a:hover {
  background-color: rgb(233, 233, 233);
}

/* Drop Down Starts Here */

#dropdown1 {
  width: 400px !important;
  position: absolute;
  padding: 20px;
}
#dropdown1 li:hover {
  padding: 10px;
}

/* Header Card Starts Here */

.card {
  position: absolute;
  top: 150px;
  left: 150px;
  width: 600px;
}

.col .row {
  margin: 0px !important;
}

.tabs {
  height: 100px;
  font-size: 0.7rem;
  font-weight: bold;
}

.tab img {
  margin-top: 10px;
  max-width: 50%;
}
#meal {
  height: 300px;
}

#meal .sign-up-to-drive {
  margin-top: 40px;
}

.sign-up-to-drive {
  margin-top: 10px;
  font-size: 1rem;
  margin-bottom: 15px;
  text-transform: none;
}

.card-info {
  text-decoration: underline;
  text-underline-position: under;
}

#meal .card-info {
  margin-left: 20px;
}

/* Input Forms */

#location,
#destination {
  background-color: white;
  border: 1px solid grey;
  padding: 5px;
}

.header-image {
  line-height: 0px;
  margin: 0px;
}
.header-image img {
  width: 100%;
  margin: 0px;
  line-height: 0px;
}

/* sky line start here */

.skyline-data {
  margin: 0px;
  line-height: 0px !important;
  position: relative;
}

.skyline-data img {
  width: 100%;
  height: 300px;
}

.skyline-content {
  position: absolute;
  top: 30px;
  left: 50px;
}

.skyline-data p {
  font-size: 1rem;
  margin-bottom: 40px;
}

/* Focused on Safety Section */
.safety-heading {
  font-weight: bold;
}
.focused-on-safety {
  display: flex;
  flex-wrap: flex;
  width: 80%;
  margin: 0 auto;
}
.safety-content {
  width: 50%;
}

.cities-in-motion {
  width: 50%;
}

.focused-on-safety img {
  max-width: 100%;
}

.focused-on-safety a {
  text-decoration: underline;
  text-underline-position: under;
  font-size: 1.1rem;
}

.focused-on-safety p {
  margin-bottom: 40px;
}

/* about us news and global citizenship start here*/

.About-us-news-global-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.items {
  width: 33%;
}

.items p {
  margin-bottom: 30px;
}

.About-us-news-global-wrapper a {
  text-decoration: underline;
  text-underline-position: under;
}

/* there's more to love in app start here */

.app-section-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  justify-content: space-between;
}
.app-section-items {
  display: flex;
  align-items: center;
  width: 48%;
  border: 1px solid rgb(204, 201, 201);
  padding: 10px;
  position: relative;
  margin-bottom: 40px;
}

.app-section-items img {
  width: 40%;
  padding: 10px 10px;
}

/* Sign Up Section Start Here */

.sign-up-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.sign-up-items {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  width: 48%;
  margin-right: 10px;
}

.sign-up-items h3 {
  margin-right: 30px;
}

.sign-up-items i {
  font-size: 2rem;
  font-weight: bold;
}

/* footer start here */

.page-footer h4 {
  margin: 80px 0px;
  padding: 0px;
}

.page-footer h5 {
  margin-top: 50px;
}

.page-footer li {
  line-height: 2.5rem;
}

.footer-copyright a {
  margin-right: 40px;
}

.footer-copyright i {
  margin-right: 20px;
}

.footer-copyright img {
  width: 30%;
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  nav .brand-logo {
    left: 5%;
  }

  .header-image {
    margin-top: 400px;
  }

  .card {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    max-height: 700px;
  }

  .tabs {
    width: 500px;
    float: left;
  }

  .card-content {
    clear: both;
  }

  #delivery {
    padding: 0px;
  }
  .About-us-news-global-wrapper .items {
    width: 50%;
  }

  .app-section-items {
    width: 100%;
  }

  .app-section-items img {
    width: 20%;
  }

  .app-section-items h5 {
    margin-right: 20%;
  }

  .sign-up-items h3 {
    font-size: 2rem;
  }
  .social-icons {
    margin-bottom: 30px;
  }

  .footer-button {
    margin-bottom: 30px;
  }

  .footer-copyright img {
    width: 20%;
  }
}

/* Media Screen over 1024 px */

@media only screen and (max-width: 600px) {
  nav .brand-logo {
    left: 5%;
  }

  .header-image {
    margin-top: 400px;
  }

  .card {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
  }

  .focused-on-safety {
    display: block;
  }

  .safety-content {
    width: 100%;
  }

  .cities-in-motion {
    width: 100%;
  }

  .About-us-news-global-wrapper {
    display: block;
  }

  .items {
    width: 100%;
  }

  .app-section-items {
    width: 100%;
  }

  .app-section-items img {
    width: 20%;
  }

  .app-section-items h5 {
    margin-right: 20%;
  }

  .sign-up-items {
    width: 100%;
  }
  .sign-up-items h3 {
    font-size: 2rem;
  }

  .social-icons {
    margin-bottom: 30px;
  }

  .footer-button {
    margin-bottom: 30px;
  }

  .footer-copyright img {
    width: 20%;
  }
}
